body {
    margin: 10px;
    padding: 10px;
    font-family: 'Arial', sans-serif;
}


h1{
    color: white;
    
}



#Dropdwon{
border-style: none;
background-color: rgba(173, 55, 55, 0.021);
border: none;
color: rgb(214, 214, 214);
}


.navbar {
    display: flex;
    
    align-items: center;
}





 li {
    margin-right: 20px;
    color: white;
}



    



.navbar{
    grid-area: navbar;
  
    background-color:rgb(43, 51, 56);

}



LI{
   display: inline;
   text-align: center;
   margin: 0 10PX 00;
   line-height:normal;
}

button:hover {
    
    background-color: green;
    color: white;
    
  }

  button{
    background-color:rgb(43, 51, 56);
    color: #0eb91d;
    border-color: #0eb91d;
    margin:10px;
    border-radius: 5px;
    font-size: 15px;
    width: 90px;
    height:32px;
   
    
  }

:disabled{
   border: none;
    padding: 3px;
    margin: 10px;
    background-color:rgba(245, 222, 179, 0);
   color: rgb(116, 118, 119);
  }


.Search{
    width: 190px;
    height: 28px;
    border-radius: 5px;
    margin-left: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icono-menu{
    margin: 40px 50px;
    position: relative;
    z-index: 10;
}

.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

.cont-menu{
    background-color: blueviolet;
    box-shadow: 2px 0px 5px 2px rgb(66, 66,66);
    width: 400px;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    transition: all .5s ease;
}

.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}


.cont-menu ul  li{
    color:white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
}

.cont-menu ul li:hover{
    background-color: rgb(214, 214, 214);
    color:blue;
}


.active{
    transform: translate(-600px);
}

.opacity{
    background-color: rgba(0,0,0,0,5);
    transition: all .5s ease;
}