body {
    margin: 10px;
    padding: 10px;
    font-family: 'Arial', sans-serif;
}


h1{
    color: white;
    
}



#Dropdwon{
border-style: none;
background-color: rgba(173, 55, 55, 0.021);
border: none;
color: rgb(214, 214, 214);
display: flex;
}


.navbar {
    display: flex;
 
    align-items: center;
}





 li {
    margin-right: 20px;
    color: white;
}



    



.navbar{
    grid-area: navbar;
 
    background-color:rgb(43, 51, 56);

}



LI{
   display: inline;
   text-align: center;
   margin: 0 10PX 00;
   line-height:normal;
}

button:hover {
    
    background-color: green;
    color: white;
    
  }

  button{
    background-color:rgb(43, 51, 56);
    color: #0eb91d;
    border-color: #0eb91d;
    margin:10px;
    border-radius: 5px;
    font-size: 15px;
    width: 90px;
    height:32px;
    display: flex;
   
    
  }

:disabled{
   border: none;
    padding: 3px;
    margin: 10px;
    background-color:rgba(245, 222, 179, 0);
   color: rgb(116, 118, 119);
   display: flex;
  }


.Search{
    width: 190px;
    height: 28px;
    border-radius: 5px;
    margin-left: auto;
    
    text-align: center;
    display: flex;
  
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu-icon {
    font-size: 24px;
    cursor: pointer;
   display: none;
}





/*  pantallas pequeñas */
@media only screen and (max-width: 767px) {
    .menu-icon {
      display: block;
    }
}

