body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

.menu {
    list-style: none;
    display: flex;
}

 li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}
hover {
    text-decoration: underline;
    
}


.navbar{
    grid-area: navbar;
    text-align: center;
    line-height: 50px; 
    background-color: palevioletred;

}

UL{
    list-style-type: none;
    margin: 0;
    padding: 0;
 list-style: none;
 text-align: center;
 
}

LI{
   display: inline;
   text-align: center;
   margin: 0 10PX 00;
   line-height:normal;
}



.btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #1c691f;
    color: white;
  }